<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src="../../js/common/global.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
	<title>张金丹</title>
	<!-- <script type="text/javascript" src="../../js/app/index/index.js"></script> -->
</head>
<body>
	<div id="root">
		<div class="head_box">
			<img class="head_img" src="../../assets/img/headimg.jpg">
			<div class="head_info">
				<div class="name">张金丹</div>
				<div class="motto">臭秃驴，胆敢和贫道抢师太</div>
			</div>
		</div>

		<div class="album_box">
			<img src="../../assets/img/headimg.jpg">
			<img src="../../assets/img/headimg.jpg">
			<img src="../../assets/img/headimg.jpg">
			<img src="../../assets/img/headimg.jpg">
		</div>

		<div class="ad_box">
			<div class="title">广告</div>
			<ul class="ad_lists">
				<li class="ad_list">老中医</li>
				<li class="ad_list">孕睫术</li>
				<li class="ad_list">脚贴</li>
			</ul>
		</div>
	</div>
</body>
<!-- <script type="text/javascript" src="../../dist/index.bundle.js"></script> -->
</html>