<!DOCTYPE html>
<html>
<head>
    <title>视频-扒皮</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/img/16.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content="【扒皮官网】火爆的娱乐分享平台，每日海量笑料7X24小时更新，集合更有趣的视频、GIF图片、 抓拍图片、纯文段子，包括怪异的、可爱的、性感的、风趣的、幽默的等等类型">
    <meta name="keywords" content="扒皮官网，幽默，段子">
</head>
<body>
    <div id="container"></div>
    <script>
        window._bd_share_config = {
            common : {
                bdText : '自定义分享内容',
                bdDesc : '自定义分享摘要',
                bdUrl : '自定义分享url地址',
                bdPic : '自定义分享图片'
            },
            share : [{
                "bdSize" :32
            }], 
            slide : [{
                bdImg : 0,
                bdPos : "right",
                bdTop : 100
            }],
            image : [{
                viewType : 'list',
                viewPos : 'top',
                viewColor : 'black',
                viewSize : '16',
                viewList : ['qzone','tsina','huaban','tqq','renren']
            }],
            selectShare : [{
                "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
            }]
        }
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    </script>

</body>
<script type="text/javascript" src="../dist/index.bundle.js"></script>
</html>